<!doctype HTML>
<html>
  <head><title>Movie insert</title></head>
  <body>
     <form action="/addMovie" method="POST">
        <p>What movie do you want to add?</p>
          <p>
            Movie title <input type="text" name="movie_title"/>
          </p>
          <p>
            Year <input type="text" name="movie_year"/>
          </p>
          <p>
            imdb code <input type="text" name="movie_imdbCode"/>
          </p>
        <input type="submit" value="Submit"/>
     </form>
  </body>
</html>